<!DOCTYPE html>
<html ng-app="jorchive">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- build:css static/css/third-party.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/static/lib/bower/angular-grid/ng-grid.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css static/css/application.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <!-- endbuild -->

</head>
<body>
<div ng-view></div>

<!-- build:js static/js/lib/third-party.js -->
<!-- bower:js -->
<script src="/static/lib/bower/jquery/dist/jquery.js"></script>
<script src="/static/lib/bower/angular/angular.js"></script>
<script src="/static/lib/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/static/lib/bower/angular-grid/build/ng-grid.js"></script>
<script src="/static/lib/bower/angular-route/angular-route.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js static/js/all.js -->
<script type="application/javascript" src="/static/js/app.js"></script>
<!-- endbuild -->
</body>
</html>
