<!DOCTYPE html>
<html ng-app="jorchive">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- build:css static/css/third-party.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/static/lib/bower/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/lib/bower/datatables/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/static/lib/bower/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/lib/bower/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="/static/lib/bower/morrisjs/morris.css" />
    <link rel="stylesheet" href="/static/lib/bower/datatables-responsive/css/dataTables.responsive.css" />
    <link rel="stylesheet" href="/static/lib/bower/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="/static/lib/bower/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" />
    <link rel="stylesheet" href="/static/lib/bower/angular-grid/ng-grid.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css static/css/application.css -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <!-- endbuild -->

</head>
<body>
<div ng-view></div>

<!-- build:js static/js/lib/third-party.js -->
<!-- bower:js -->
<script src="/static/lib/bower/jquery/dist/jquery.js"></script>
<script src="/static/lib/bower/angular/angular.js"></script>
<script src="/static/lib/bower/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/lib/bower/datatables/media/js/jquery.dataTables.js"></script>
<script src="/static/lib/bower/flot/jquery.flot.js"></script>
<script src="/static/lib/bower/holderjs/holder.js"></script>
<script src="/static/lib/bower/metisMenu/dist/metisMenu.js"></script>
<script src="/static/lib/bower/raphael/raphael.js"></script>
<script src="/static/lib/bower/mocha/mocha.js"></script>
<script src="/static/lib/bower/morrisjs/morris.js"></script>
<script src="/static/lib/bower/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="/static/lib/bower/flot.tooltip/js/jquery.flot.tooltip.js"></script>
<script src="/static/lib/bower/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
<script src="/static/lib/bower/angular-grid/build/ng-grid.js"></script>
<script src="/static/lib/bower/angular-route/angular-route.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js static/js/all.js -->
<script type="application/javascript" src="/static/js/app.js"></script>
<!-- endbuild -->
</body>
</html>
