<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="Layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <div class="page-header">
        <h1>Files</h1>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
            <div class="group-btn pull-right" role="group" aria-label="...">
                <!--@thymesVar id="filters" type="java.util.Map"-->
                <button th:each="filter : ${filters}" type="button" class="btn btn-default filterBtn"
                        th:data="${filter.key}" th:text="${filter.value}">All</button>
                <!--<button type="button" class="btn btn-default filterBtn" data-type="all">All</button>
                <button type="button" class="btn btn-default filterBtn" data-type="file">Files</button>
                <button type="button" class="btn btn-default filterBtn" data-type="archive">Archive Content</button>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--@thymesVar id="fileList" type="no.skotsj.jorchive.web.model.FileList"-->
            <table class="table table-condensed table-hover" th:object="${fileList}">
                <tr>
                    <th>-></th>
                    <th>File</th>
                    <th>Size</th>
                </tr>
                <tr th:each="row,rowStat : *{files}"
                    class="fileRow"
                    th:id="${row.id}"
                    th:classappend="${row.context} + ' ' + ${row.depth gt 0 ? 'collapsedRow' : 'collapsedChildren'}"
                    th:style="${'background-color:' + row.color + ';'}"
                    th:attr="data-depth=${row.depth}"
                    th:remove="${row.ignored}? 'all'">
                    <!--th:data="${row.relativePath}"-->

                    <td class="lcol" th:text="${row.children ne 0}?${row.children}">0</td>
                    <td th:utext="${row.name}">name</td>
                    <td class="rcol" th:utext="${row.size}">125MB</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<footer>
    <p layout:fragment="custom-footer">footer 1</p>
</footer>
</body>
</html>
